<body>
    <div class="login-content">
        <img src="./assets/img/icons/join-login.svg" class="join-logo">
        <div class="signup-bar">
            <p>Not a Join user?</p>
            <a href="#" class="w3-button btn-dark-grey w3-round-large w3-hover-blue">Sign up</a>
        </div>
        <div class="login-card">
            <h1>Log in</h1>
            <form class="input-bar">
                <input required type="email" class="input-field email w3-round-large" placeholder="Email">
                <input required type="password" class="input-field password w3-round-large" placeholder="Password">
            </form>
            <form class="detail-bar">
                <input type="checkbox" id="remember-login" name="remember-login" value="false">
                <label for="remember-login"> Remember me</label><br>
                <a href="#"> Forgot my password</a>
            </form>
            <div class="btn-bar">
                <a href="#" class="w3-button btn-dark-grey w3-round-large w3-hover-blue">Send me the email</a>
            </div>
        </div>
    </div>

    <script src="./script/app.js"></script>
</body>

</html>