 nav{
    margin: 0;
    padding: 0;
 }
 .side-bar {
    height: 100vh;
    background-color: var(--dark-grey);
    color: white;
    position: fixed;;
    width: 232px;
    top: 0px;
}

 .side-bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    left: 0px;
    top: 0px;
    z-index:2;
 }

 .side-bar-logo{
    height: 121.97px;
    width: 100.03px;
 }

 .side-bar-navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    height: 229px;

 }
 .side-bar-navigation > div {
    display: flex;
    gap: 20px;
    align-items: center;
 }

 .side-bar-nav-icon-small{
    height: 24px;
    width: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
 }
 .side-bar-nav-icon{
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
 }

 .nav-legal-notice{
   display: flex;
   gap: 20px;
   align-items: center;
   padding-top: calc(234px - 46px); 
 }

