.board-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 89px;
    margin-left: 232px;
    margin-right: 0;
    padding: 50px;
    min-height: 88vh;
    padding-bottom: 0;
    overflow: hidden;
}

.board-content {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.board-main-container h1 {
    font-weight: 700;
    font-size: 300%;
}

.board-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
}

.board-header-input {
    display: flex;
    gap: 45px;
    align-items: center;
}

.btn-text-center {
    display: flex !important;
    align-items: center;
}

.input-field {
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 100%;
    width: unset !important;
}

.btn-dark-grey {
    background-color: var(--btn-dark-grey) !important;
    color: white !important;
    font-weight: 700;
    padding: 4px, 0px, 4px, 0px !important;
    overflow: unset !important;
    text-align: center !important;
}

.find-task {
    background: url(../assets/img/icons/board-search.svg) no-repeat;
    background-position: 95% 50%;
    background-color: #FFFFFF;
}

.board-content-container {
    display: flex;
    white-space: nowrap;
    width: 100%;
    min-height: 100%;
}

.board-box {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 13px;
    min-height: 100%;
}

.board-box-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    margin-bottom: 24px;
}

.board-box-header h4 {
    font-weight: 700 !important;
    font-size: large;
}

.board-box-header img {
    cursor: pointer;
}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100%;
}

.box-contact-prio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-category {
    width: fit-content;
    border-radius: 8px;
    padding: 4px 24px;
    color: white;
}

.task-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 18px 19px;
    overflow: visible;
    white-space: normal;
}

.task-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.3);
    transform: scale(1.05);
}

.task-card h6 {
    font-weight: 700;
}

.task-card p {
    color: #A8A8A8;
}

.board-open-task {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.open-task-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 10px;
    isolation: isolate;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    min-width: 35%;
}

.board-button-box {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border: none !important;
    scale: 0.75;
}

.board-edit-button {
    background: #2A3647;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12.5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none !important;
}

.board-delete-button {
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2A3647;
}

.board-save-button {
    position: absolute;
    border-radius: 10px;
    bottom: 25px;
    right: 25px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none !important;
    background-color: #2A3647;
    scale: 0.75;
}

.board-close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    align-self: end;
    justify-content: end;
    cursor: pointer;
}

.board-edit-button:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.board-delete-button:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.board-save-button:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.board-prio-button {
    border-radius: 10px;
    color: white;
    padding: 4px 18px;
    gap: 10px;
    margin-left: 25px;
}

.board-prio-img {
    object-fit: contain;
    margin-left: 10px;
}

.btn-mobile {
    display: none !important;
}

.board-add-task {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 35px;
    position: absolute;
    height: 98vh;
}

.board-add-task-close {
    display: flex;
    position: absolute;
    z-index: 5;
    top: 35px;
    right: 35px;
    cursor: pointer;
    scale: 1.25;
}

.add-task-main-content-template {
    margin-top: 35px;
}

.board-add-task-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]:checked::before {
    top: -5px !important;
}

.board-open-task-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    transform: scale(1.05);
}



/* BOARD RESPONSIVE CSS */

@media screen and (max-width: 1170px) {
    .header-block {
        display: none !important;
    }

    header {
        z-index: 1;
    }

    .side-bar-container {
        z-index: 1;
    }

    .board-main-container {
        display: flex;
        min-height: auto;
        margin-left: 0;
        margin-bottom: 130px;
        margin-top: 34px;
    }

    .board-add-task-overlay {
        background: #F5F5F5;
        margin-bottom: 80px;
        position: relative;
        height: auto;
        width: auto;
        z-index: unset;
    }

    .board-add-task {
        background: none;
        position: inherit;
        height: inherit;
    }

    .add-task-media {
        width: inherit !important;
    }

    .board-content {
        padding: 30px;
        margin-top: 15px;
        margin-bottom: 89px;
    }
}

@media screen and (max-width: 1000px) {
    .board-header-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: unset;
        margin-bottom: 3vh;
    }

    .btn-normal {
        display: none !important;
    }

    .btn-mobile {
        display: flex !important;
        justify-content: center;
        padding: 10px 15px !important;
        width: fit-content !important;
        height: fit-content !important;
        font-size: large;
    }

    .board-responsive-headline {
        width: 100%;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
    }

    .board-content-container {
        flex-direction: column;
    }

    .board-box {
        width: 100%;
        padding: 0;
    }

    .board-add-task-overlay {
        margin-top: 0;
        background-color: unset;
        margin-bottom: 80px;
        z-index: unset;
    }

    .add-task-leftside {
        width: 370px !important;
    }

    .add-task-rightside {
        width: 370px !important;
    }
}

@media screen and (max-width: 550px) {

    .board-add-task {
        padding: unset;
        scale: 0.95;
    }

    .contacts-include-tasks {
        padding: 0px !important;
    }

    .board-add-task {
        border-radius: 0px;
    }

    .board-main-container {
        margin: 49px 0px 0px 0px;
        padding: 0px;
    }

    .board-content {
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 89px;
    }

    .add-task-subtask-main-placeholder input {
        font-size: 16px !important;
    }

    .add-task-new-categroy-input {
        font-size: 16px !important;
    }

    .add-task-description textarea {
        font-size: 16px !important;
    }

    .add-task-title input {
        font-size: 16px !important;
    }

    .add-task-prio-button-container button {
        font-size: 16px !important;
    }

    .add-task-due-date input {
        font-size: 16px !important;
    }

    .add-task-leftside {
        width: 315px !important;
    }

    .add-task-rightside {
        width: 315px !important;
    }

    .add-task-headline {
        font-size: 45px !important;
    }

    .contacts-include-tasks {
        padding: 0;
    }

    .add-task-clear {
        font-size: 20px !important;
        width: 106px !important;
        height: 61px !important;
    }

    .add-task-create {
        font-size: 20px !important;
        width: 146px !important;
        height: 61px !important;
    }
}